{{supply-demand-grid industryA=industryA industryB=industryB}}

<p><strong>Societal Benefit</strong>: {{format-currency societalBenefit}}</p>

<div class="industry-overview">
  <div class="industry-panel">  
    <h4>Industry A</h4>
    <ul>
      <li>Resources Sold: {{industryA}}</li>
      <li>Price Per Unit: {{format-currency pricePerUnit.industryA}}</li>
    </ul>
  </div>
  <div class="industry-panel">
    <h4>No Industry</h4>
    <ul>
      <li>Not Sold to Either Industry: {{noIndustry}}</li>
    </ul>
  </div>
  <div class="industry-panel">  
    <h4>Industry B</h4>
    <ul>
      <li>Resources Sold: {{industryB}}</li>
      <li>Price Per Unit: {{format-currency pricePerUnit.industryB}}</ui>
    </ul>
  </div>
</div>

{{#each}}
  {{resource-control industry=industry}}
{{/each}}