{{supply-demand-grid industryA=industryA industryB=industryB}}

<div class="sixteen columns clearfix">
  <div class="eight columns instructions">
    <h3>Instructions</h3>
    <p>The 14 resources below can be sold to either industry. Resource rots quickly so keeping it to sell later is not an option.</p>

    <ul>
      <li>Click <span class="industry-identifier a">1</span> to sell the resource to <strong>Industry 1</strong>.</li>
      <li>Click <span class="industry-identifier b">2</span> to sell the resource to <strong>Industry 2</strong>.</li>
      <li>Click <span class="industry-identifier none">None</span> to withhold the resource from the market.</li>
    </ul>
  </div>
  <div class="eight columns">
    <h3>How many resource owners are there?</h3>
    {{resource-owners-selector resourceOwners=resourceOwners}}
    {{#if isMonopoly}}
    <p>The sole owner of all 14 resources was able to make <strong>{{format-currency societalBenefit}}</strong> by selling <strong>{{resource-count industryA}}</strong> to <strong>Industry 1</strong> and <strong>{{resource-count industryB}}</strong> to <strong>Industry 2</strong>. The sole owner decided not to sell <strong>{{resource-count noIndustry}}</strong>.</p>
    {{else}}
    <p>Of the 14 individual resource owners, <strong>{{industryA}}</strong> sold to <strong>Industry 1</strong> for <strong>{{format-currency pricePerUnit.industryA}}</strong> and <strong>{{industryB}}</strong> sold to <strong>Industry 2</strong> for <strong>{{format-currency pricePerUnit.industryB}}</strong>. {{resource-count noIndustry}} were not sold to either industry{{#if noIndustry}} and rotted{{/if}}.</p>
    {{/if}}
  </div>
</div>

<div class="industry-overview sixteen columns clearfix">
  <div class="industry-panel five columns">
    <h4>{{resource-count industryA capitalize=true}} Sold to Industry 1</h4>
    <p class="price">@{{format-currency pricePerUnit.industryA}}/resource</p>
  </div>
  <div class="industry-panel six columns">
    <h4>{{resource-count noIndustry capitalize=true}} Not Sold to Either Industry</h4>
  </div>
  <div class="industry-panel five columns">
    <h4>{{resource-count industryB capitalize=true}} Sold to Industry 2</h4>
    <p class="price">@{{format-currency pricePerUnit.industryB}}/resource</ui>
  </div>
</div>

<div class="resources sixteen columns">
{{#each}}
  {{resource-control industry=industry}}
{{/each}}
</div>
